.post-wrapper {
	background-color: #ffffffd9;
	margin: 0 auto;
	min-width: 500px;
	padding: 50px 200px;
}

.detail {
	padding: 20px 30px;
	border: 1px solid #b0b0b0;
	border-radius: 5px;
}

.detail__time-upload,
.detail__content {
	margin-top: 8px;
}

.detail__image {
	margin-top: 15px;
}
