.cardContainer {
  margin-left: 260px;
  margin-top: 20px;
  position: relative;
}

.CommentSection {
    width: 380px!important;
    /* float: right; */
    position: absolute;
    top: 15%;
    right: 30%;
}
