* {
  margin: 0;
  padding: 0;
}
.container {
  background:  #cccccc;
  width: 100%;
  min-height: 100vh;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-wrapper {
  background-color: #fff;
  min-width: 350px;
  min-height: 550px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.title {
  color: #f80759;
  text-align: center;
  margin: 80px 0px 40px 0px;
}
.password,
.email {
  margin: 20px;
  font-size: 16px;
}
.password {
  margin-bottom: 40px;
}
.input {
  height: 32px;
  font-size: 20px;
  outline: none;
  width: 100%;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: 2px solid black;
  margin-bottom: 10px;
}
.error {
  color: red;
  font-size: small;
}
.submit {
  display: flex;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 25px;
  color: white;
  padding: 10px 60px;
  margin: auto;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
  background-color: red;
  margin-top: 30px;
}
button:active {
  transform: translateY(2px);
}
.form-success {
  display: flex;
  justify-content: center;
  margin-top: 250px;
  min-width: 370px;
  color: #f80759;
}

.buttonRedireact{
  position: absolute;
  right: 30px;
  top: 30px;
}
